body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 50px; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 100%;
}

h1 {
    text-align: center;
}

#searchInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
}

#searchButton {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

.results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; 
    min-height: 20px; 
}

.movie {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.movie img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}
